.topbox{
    height:150px;
    border:2px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.topbox>div{
    border:2px solid blue
}
.timeBox{
    border:2px solid white;
    margin:auto;
    text-align:center;
    font-weight: unset;
}
.myStyle{
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.QuotesBox{
    text-align: center;
    border:2px solid green;
    font-size: 20px;
}
.weatherContainer{
    display: flex;
    gap: 20px;
    /* border: 2px solid yellow; */
}
.weatherContainer:last-child{
    line-height: 0px;
}
.weatherContainer>div:first-child{
    font-size: 40px;
}
.newsmain{
    overflow: scroll;
    height: 500px;
    width: 100%;
    overflow-x: hidden;
}

.newcontainer{
    display: flex;
    width: 30%;
    gap: 20px;
   
    border: 0.5px solid black;
    border-radius: 10px;
    /* height: 250px;
    box-sizing: border-box; */
    height: max-content;
    /* border: 2px solid black; */
}
.newcontainer>div{
    width: 50%;
 
}
.newtitle{
    width: 30%;
    /* border: 2px solid palegoldenrod; */
}
.newsimg{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}